﻿@model PetriApp.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container body-content">
    <h2>Details</h2>

    <div>
        <h4>UserViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Group)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Group)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
        
        <table class="table">
            <tr>
                <th>
                    Network name
                </th>
                <th>
                    Time created
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Networks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetworkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeCreated)
                    </td>
                    <td>
                        @Html.ActionLink("View", "Edit", "Petri", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>