﻿@model PetriNetComparers.CompareResult
@{
    ViewBag.Title = "CompareResults";
}


<div class="container body-content">
    <h2>Results for @Html.ActionLink((string)ViewBag.FirstNet.NetworkName, "Edit", new {id=ViewBag.FirstNet.Id}, new { target="_blank"})
        and @Html.ActionLink((string)ViewBag.SecondNet.NetworkName, "Edit", new { id = ViewBag.SecondNet.Id}, new
            {
                target = "_blank"
            })
    </h2>
    <hr />
    <div>
        <div style="white-space: pre-wrap">@Model.Message</div>
    </div>
    <hr />
    <div class="form-actions no-color">
                @Html.ActionLink("Back", "CompareSelection") | 
                @Html.ActionLink("Back to List", "NetList")
    </div>
</div>