﻿@model IEnumerable<PetriApp.Models.PetriListItem>

@{
    var selectItemList = new SelectList(Model, "Id", "NetworkName");
    ViewBag.Title = "Compare";

}

<div class="container body-content">
    <h2>Compare selection</h2>

    <hr/>
    @using (Html.BeginForm("Compare", "Petri"))
    {
        @Html.AntiForgeryToken()

        <label>First network</label>
        @Html.DropDownList("firstNet", selectItemList)
        <label>Second network</label>
        @Html.DropDownList("secondNet", selectItemList)
        <hr />

            <div class="form-actions no-color">
                <input type="submit" value="Compare" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "NetList")
            </div>
    }
</div>
