﻿<script>
    var onSave = (json, name) => {
        var verb = 'POST';
        var url = '@(ViewBag.Id != null ? "/Petri/Edit" : @Url.Action("Create"))';
        var data = {json: json, name: name @(ViewBag.Id != null ? ", id:" + @ViewBag.Id : "")}
        $.ajax({
        url: url,
            data: data,
            dataType: "json",
            type: verb,
            success: function (data) {
                alert(data.message);
                @if (ViewBag.Id == null)
                {
                    @:window.location.href = "/Petri/Edit/" + data.id;
                } 
            },
            error:  function (data) {
                alert(data.message);
            },
        });
    }
    @if (ViewBag.NetworkName != null)
    {
        @:var networkName = '@ViewBag.NetworkName';
    }
    @if (ViewBag.NetworkJson != null)
    {
        @:var networkJson = '@Html.Raw(ViewBag.NetworkJson)';
    }
</script>
<div id="root">
</div>
<script src="http://localhost:3000/static/js/bundle.js"></script>

