﻿@model PetriApp.Models.PetriListItem

@{
    ViewBag.Title = "Delete";
}

<div class="container body-content">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Network</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NetworkName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NetworkName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TimeCreated)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "NetList")
            </div>
        }
    </div>
</div>