﻿@{
    ViewBag.Title = "Login Failure";
}

<div class="container body-content">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
</div>