body{
  height: calc(100vh - 51px);
}
#root{
  margin-top: 51px;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.App {
  width: 100%;
  height: 100%;  
}

.petriEditor{
  width: 100%;
  height: 100%;  
}

.petriEditor .editorContainer{
  width: 80%;
  height: 100%;  
  max-width: 1920px;
  max-height: 1080px;
  box-sizing: border-box;
  float: left;
  position: relative;
}

.petriEditor .editorContainer .editorCanvasContainer{
  overflow: scroll;
  width: 100%;
  height: 100%;
}
.petriEditor .editorSideMenu{
  width: 20%;
  height: 100%;  
  overflow: auto;
  float: left;
}

.petriEditor .canvasEditMode{
  border :  10px solid green;
}
.petriEditor .canvasSimulationMode{
  border :  10px solid red;
}

.structText {
  width: 100%;
  height: 100px;
  white-space: pre;
}

.reachText {
  width: 100%;
  min-height: 100px;
  margin: 10px;
}

.reachCanvas {
  width: 70vw;
  height: 70vh;
  display: inline-block;
}

.toolbar {
  position:absolute;
  top: 2px;
  left: 2px;
  z-index: 99999;
  border: gray;
}

.toolButton{
  font-size: 30px;
  padding:6px;
  border: 1px solid lightgray;
  display: table-cell;
  margin: 2px;
  width:40px;
  line-height: 40px;
  background: lightgray;
  cursor: pointer;
  color: darkslategray
}

.toolButton:hover{
  background: #b3b3b3;
}

.toolButton.activeTool{
  background: #060606;
  color: lightslategray;
}

.popup-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(200,200,200,0.5);
  top: 0;
  left: 0;
  z-index: 99999;
}

.popup-overlay.closed{
  display: none;
}

.popup-content{
  background-color: whitesmoke;
  margin: auto;
  margin-top:100px;
  border-radius: 5px;
  min-height: 100px;
  min-width: 200px;
  padding: 5px;
  display: inline-block;
}

.reachPopup{
  position: relative;
}

.reachPopup-close{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999999
}